.contact-info {
	background-color: rgb(37, 37, 37);
	color: white;
	height: 30px;
}

.contact-text {
	display: inline;
	float: left;
	padding-left: 10px;
	font-size: 14px;
    font-family: "Roboto";
    color: rgb( 255, 250, 250 );
    line-height: 2.3;
    height: 30px;
}

.contact-text:first-child {
	padding-left: 0px;
}

.contact-text:last-child {
	float: right;
}

.logo {
	padding-top: 40px;
	float: left;
}

.login-row {
	margin-top: 25px;
	margin-right: 0px!important;
	margin-left: 0px!important;
}
.login-btn {
    font-size: 12.691px;
    font-family: "Roboto";
    color: rgb( 63, 61, 61 );
    line-height: 1.103;
    background-color: white;
    border: 1px solid rgb(229, 228, 226);
    padding: 8px 20px;
    margin-right: 15px;
    cursor: pointer;
    float: left;
}

.register-btn {
    font-size: 12.691px;
    font-family: "Roboto";
    color: rgb( 63, 61, 61 );
    line-height: 1.103;
    background-color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    float: left;
}

.balance {
	display: inline;
	float: right;
}

.checkout-btn {
	margin-left: 15px;
	font-size: 12.691px;
    font-family: "Roboto";
    color: white;
    line-height: 1.103;
    background-color: black;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    float: right;
}

.search-input {
	height: 35px;
	width: 100%;
}

.nav-margin {
	margin-top: 30px;
	background-color:  rgb(245, 245, 245);
}

.login-row > .search {
    border: 1px solid rgb(229, 228, 226);
    margin-top: 15px;
    height: 40px;
    padding-right: 0px;
    padding-left: 0px;
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

input[type="search"] {
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.35em 0.75em;
    border: none;
    font-size: 1.1em;
    text-decoration: none;
    line-height: normal;
    max-height: 3em;
    flex: 2 0 250px;
    outline:none;
}

input[type="submit"] {
    background: url(../images/search.png) no-repeat 50% 50%;
    cursor: pointer;
    margin-right: 5px;  
    max-height: 3em;
    font-size: 1.1em;
    letter-spacing: .2em;
    border: none;
    padding: 0.35em 0.75em;
    cursor: pointer;
    outline:none;
}

.nav-margin > .nav > .nav-item > .nav-link {
	color: black;
}

.nav-margin > .nav > .nav-item > {
	color: black;
}

.nav-margin > .nav > .nav-item {
	padding: 6px 15px;
}

.nav-margin > .nav > .nav-item:hover {
	background-color: rgb(228, 229, 228);
}

.main-content > div {
    height: 320px;
    overflow: hidden;
}

.img-block-1 {
	height: 100%;	
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%), url('../images/new_arrival.png') center center no-repeat;
    background-size: cover;
    width: 100%;
    transition: transform .2s;
}

.img-block-1:hover {
    transform: scale(1.1);
}

.img-block-2 {
	height: 320px;
	width: 100%;
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%), url('../images/tuxedo.png') center center no-repeat;
    background-size: cover;
    transition: transform .2s;
}

.img-block-2:hover {
    transform: scale(1.1);
}

.img-block-3 {
	height: 320px;
	width: 100%;
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%), url('../images/sweater.png') center center no-repeat;
    background-size: cover;
    transition: transform .2s;
}

.img-block-3:hover {
    transform: scale(1.1);
}

.img-content-head-1 {
    transition: transform .2s;
	/*left: 50%;
    margin-left: -80px;*/
    position: absolute;
    bottom: 130px;
    font-size: 22px;
    font-family: "PlayfairDisplay";
    color: rgb( 249, 249, 249 );
    font-weight: bold;
    line-height: 0.636;
}

.img-content-head-2 {
    transition: transform .2s;
	/*left: 50%;
    margin-left: -45px;*/
    position: absolute;
    bottom: 130px;
    font-size: 22px;
    font-family: "PlayfairDisplay";
    color: rgb( 249, 249, 249 );
    font-weight: bold;
    line-height: 0.636;
}

.img-content-head-3 {
    transition: transform .2s;
	/*left:50%; 
	margin-left:-50px;*/
	position: absolute; 
	bottom: 130px;
	font-size: 22px;
    font-family: "PlayfairDisplay";
    color: rgb( 249, 249, 249 );
    font-weight: bold;
    line-height: 0.636;
}

.img-content-text {
    transition: transform .2s;
    /*left: 50%;
    margin-left: -125px;*/
    bottom: 100px;
    position: absolute;
    font-size: 12px;
    font-family: "Roboto";
    color: rgb( 237, 237, 237 );
    line-height: 1.167;
}

.marg-top {
    margin-top: 20px;
}

.img-content-text-3 {
    transition: transform .2s;
	/*left: 50%;
    margin-left: -117px;*/
    position: absolute;
    bottom: 100px;
    font-size: 12px;
    font-family: "Roboto";
    color: rgb( 237, 237, 237 );
    line-height: 1.167;
}

.img-btn-1 {
    transition: transform .2s;
	/*left: 50%;
    margin-left: -61px;*/
    position: absolute;
    bottom: 50px;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb( 249, 249, 249 );
    line-height: 1;
    background: none;
    padding: 8px 20px;
    border: 1px solid rgb( 249, 249, 249 );
    cursor: pointer;
}

.img-btn-2 {
    transition: transform .2s;
    /*left: 50%;
    margin-left: -53px;*/
    position: absolute;
    bottom: 50px;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb( 249, 249, 249 );
    line-height: 1;
    background: none;
    padding: 8px 20px;
    border: 1px solid rgb( 249, 249, 249 );
    cursor: pointer;
}

.img-btn-3 {
    transition: transform .2s;
	/*left: 50%;
    margin-left: -53px;*/
    position: absolute;
    bottom: 50px;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb( 249, 249, 249 );
    line-height: 1;
    background: none;
    padding: 8px 20px;
    border: 1px solid rgb( 249, 249, 249 );
    cursor: pointer;
}

.img-block-4 {
	height: 320px;
	width: 100%;
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%), url('../images/shoes.png') center center no-repeat;
    background-size: cover;
    transition: transform .2s;
}

.img-block-4:hover {
    transform: scale(1.1);
}

.img-content-head-4 {
    transition: transform .2s;
	/*left: 10%;*/
    position: absolute;
    bottom: 40px;
	font-size: 18px;
    font-family: "PlayfairDisplay";
    color: rgb( 249, 249, 249 );
    font-weight: bold;
    line-height: 0.636;
}
.img-content-text-4 {
    transition: transform .2s;
	/*left: 10%;*/
    position: absolute;
    /*top: 80%;*/
	font-size: 12px;
    font-family: "Roboto";
    color: rgb( 237, 237, 237 );
    line-height: 1.167;
}

.img-btn-4 {
    transition: transform .2s;
	/*left: 77%;*/
    position: absolute;
    bottom: 37px;
	font-size: 14px;
    font-family: "Roboto";
    color: rgb( 249, 249, 249 );
    line-height: 1;
    background: none;
    cursor: pointer;
}

.img-block-5 {
	height: 320px;
	width: 100%;
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%), url('../images/glasses.png') center center no-repeat;
    background-size: cover;
    transition: transform .2s;
}

.img-block-5:hover {
    transform: scale(1.1);
}

.img-block-6 {
	height: 320px;
	width: 100%;
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%), url('../images/t_shirt.png') center center no-repeat;
    background-size: cover;
    transition: transform .2s;
}

.img-block-6:hover {
    transform: scale(1.2);
}

.img-content-head-6 {
    transition: transform .2s;
	/*left: 50%;
    margin-left: -95px;*/
    position: absolute;
    bottom: 100px;
    font-size: 18px;
    font-family: "PlayfairDisplay";
    color: rgb( 249, 249, 249 );
    font-weight: bold;
    line-height: 0.636;
}

.img-block-7 {
	height: 320px;
	width: 100%;
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%), url('../images/watches.png') center center no-repeat;
    background-size: cover;
    transition: transform .2s;
}

.img-block-7:hover {
    transform: scale(1.1);
}

.img-btn-1:hover, .img-btn-2:hover, .img-btn-3:hover, .img-btn-6:hover {
	background-color: black;
}

.img-btn-6 {
    transition: transform .2s;
	/*left: 50%;
    margin-left: -55px;*/
    position: absolute;
    bottom: 40px;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb( 249, 249, 249 );
    line-height: 1;
    background: none;
    border: 1px solid rgb( 249, 249, 249 );
    padding: 8px 20px;
    cursor: pointer;
}


.offers-title {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.offers-title:before, .offers-title:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid rgb(229, 228, 226);
    margin: auto;
}
.offers-title > span {
	border: 1px solid rgb(229, 228, 226);
	padding: 8px 20px;
	color: rgb(229, 228, 226);
	font-size: 20px;
    font-family: "PlayfairDisplay";
    color: rgb( 63, 61, 61 );
    line-height: 0.7;
}

.view {
	margin-top: 50px;
	position: relative;
}

.view > img {
	cursor: pointer;
	width: 100%;
	height: 210px;
}

.view > div{
	cursor: pointer;
	height: 80px;
	padding-top: 20px;
	border: 1px solid rgb(229, 228, 226);
	color: rgb(145, 144, 144);
	font-size: 17px;
    font-family: "PlayfairDisplay";
    line-height: 1.5;
}

.view > figure{
	cursor: pointer;
	border: 1px solid rgb(229, 228, 226);
	color: rgb(145, 144, 144);
	font-size: 17px;
    font-family: "PlayfairDisplay";
    line-height: 1.5;
}

.view > figure > img {
	height: 210px;
}

.view > figure > figcaption {
	height: 80px;
	color: rgb(145, 144, 144);
	font-size: 17px;
    font-family: "PlayfairDisplay";
    padding-top: 20px;
    line-height: 1.5;

}

.view > div >span {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(145, 144, 144);
    line-height: 1.5;
}

.block{
    position:absolute;
    left:40%;
    top:30%;
    color: white!important;
    cursor: pointer!important;
    font-size: 16px;
  	font-family: "PlayfairDisplay";
    padding:5px;
    display:none;
    font-size: bold;
}

.view:hover .block{
    display:block;
}

.view:hover .text-center{
    background-color: rgb(229, 228, 226);
}

.footer-border {
	margin-top: 90px;
	border-bottom: 1px solid rgb(229, 228, 226);
	border-top: 1px solid rgb(229, 228, 226);
}

.footer-margin {

	margin-top: 90px;
}

.social-img {
	margin-left: 10px;
}

.email-input {
	width: 75%;
	height: 40px;
	padding-left: 20px;
	margin-top: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.35em 0.75em;
    font-size: 1.1em;
    text-decoration: none;
    line-height: normal;
    max-height: 3em;
    flex: 2 0 250px;
    outline:none;
}

.footer-row {
    display: none;
	padding-top: 15px;
	padding-bottom: 15px;
}

.join-btn {
	margin-left: 15px;
	font-size: 12.691px;
    font-family: "Roboto";
    color: white;
    background-color: black;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    height: 40px;
    float: right;
}

.follow {
	padding-top: 10px;
    margin-bottom: 10px;
}

.footer {
	margin-top: 40px; 
}

.right-footer{
	margin-top: 35px;
}

.footer-header {
    font-size: 15px;
    font-family: "PlayfairDisplay";
    color: rgb( 63, 61, 61 );
    line-height: 0.933;
    text-align: left;
    margin-bottom: 15px;
}

.footer-text {
    font-size: 13px;
    font-family: "Roboto";
    color: rgb( 63, 61, 61 );
    line-height: 1.846;
}

.stories {
	margin-right: 10px;
}

.footer-btn {
	padding: 5px 16px;
	font-size: 13px;
    font-family: "Roboto";
    color: rgb( 63, 61, 61 );
	border: 1px solid rgb(229, 228, 226);
	background-color: white; 
	margin-left: 10px;
	cursor: pointer;
}

.footer-btn:hover {
	background-color: rgb(229, 228, 226); 
}

.year {
	margin-right: 20px;
	font-size: 13px;
    font-family: "Roboto";
    color: rgb( 63, 61, 61 );
}

.terms {
	margin-left: 20px;
	font-size: 13px;
    font-family: "Roboto";
    color: rgb( 63, 61, 61 );
}

.policy {
	margin-top: 40px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-wrapper-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
